<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinker.video.dao.ArdVideoMapper">

	<select id="queryAllVideoList" resultType="ArdVideo">
		select * from ard_video
	</select>
	
	<select id="listArdAdv" resultType="ArdAdvertiseMent">
		select pic_url as picUrl,adv_url as advUrl  from ard_adv
	
	</select>

</mapper>