<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinker.easylife.dao.EasyLifeMapper">

	<select id="queryEasyLifeList" resultType="EasyLife">
		select * from ard_easylife
	</select>
	<select id="queryTypeByBizId" resultType="ArdType">
		select  
		t.type_id as typeId,
		t.type_name as typeName,
		t.picUrl as picUrl
		from ard_type t where biz_id = #{id}
	</select>

</mapper>